body {
    font-family: Bahnschrift, sans-serif;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

img {
    margin: 0 auto;
    width: 120px;
    height: auto;
    border-radius: 50%;
}

.content {
    width: 60%;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 50px;
}

button {
    width: 70%;
    line-height: 4em;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 10px;
    border: none;
    margin: 5px;
    font-size: 15px;
    transition: all 0.1s;
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}